/*ウェブフォントを使用する場合はここに定義を追加して下さい*/

@font-face {
	font-family: "SawarabiGothic";
	src: url("../../data/others/font/SawarabiGothic-Regular-sub.woff2") format("woff2"),
		 url("../../data/others/font/SawarabiGothic-Regular-sub.woff") format("woff"),
		 url("../../data/others/font/SawarabiGothic-Regular-sub.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NotoSerifJP";
	src: url("../../data/others/font/NotoSerifJP-Regular-sub.woff2") format("woff2"),
		 url("../../data/others/font/NotoSerifJP-Regular-sub.woff") format("woff"),
		 url("../../data/others/font/NotoSerifJP-Regular-sub.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
